p {
    padding: 0;
    margin: 0;
    width: 100px;
    
}


.toptxt{
    width: 400px;
    
}
.inputtxt{
    display: inline;
}

#TopInfo{
    width: auto;
    align-items: center;
}
ul{
    padding: 0;
    margin: 0;
}
li{
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    list-style-type: none;
}

.RandNr{
    border: 1px solid black;
    border-radius: 5px;
    min-width: 50px;
    width: auto;
    text-align: center;
    margin: 5px;
    float: left;
}
